<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FILLBOARD EVENT</title>
    <!-- <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" /> -->
    <link href="/public/stylesheets/event_page.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/public/stylesheets/images/favicon.png">

    <style type="text/css">
        * {margin: 0; padding: 0;}
        #left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
        </style>
</head>

<body>
    <%- include('../../functions') %>
    <div class="main-header">
        <nav>
            <div class="nav-left">
                <img src="/public/stylesheets/images/logo3.png" class="main-logo" />
            </div>
            <div class="nav-right">
                <form action="/event_back_main" method="POST">
                    <div class="pf-edit-btn">
                        <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                            value="Go Back"></button>
                    </div>
                </form>
            </div>
        </nav>
    </div>
   
        

        <!-- ----------------------------- Create Event -----------------------------  -->


   
    
    <div class="event-page-container">

        <div class="event-left-col">
            
                <div class="event-filter-section">
                    
                    <span style="font-size: 32px; color: #aa4344; font-weight:bold;">Filter for Events
                    </span>
                    <br>
                    <form action="/search_for_events" method="POST">
                        <div class="search-box">
                            <img src="/public/stylesheets/images/search4.png" class="search" />
                            <input type="text" name="eventname" id="eventname" placeholder="Search Event">
                        </div>
                        <br>
                        <input list="countries" name="country" id="country" placeholder="Country">
                        <datalist id="countries">
                            <% for (var i=0; i < country_data.length; i++) { %>
                                <a></a>
                                <option value="<%= country_data[i]['name'] %>">
                            <% } %>
                        </datalist>
                        <input name="city" id="city" placeholder="City" />
                        <input name="zip" id="zip" placeholder="Zip" />
                        <input name="street" id="street" placeholder="Street" />
                        <br>
                        <br>
                        <input list="categories" name="category" id="category" placeholder="Category">
                        <datalist id="categories">
                            <% for (var i=0; i < category_data.length; i++) { %>
                                <a></a>
                                <option value="<%= category_data[i]['category_name'] %>">
                            <% } %>
                        </datalist>
                        <input name="sub_category" id="sub_category" placeholder="Sub-Category" />
                        <br><br>
                        <div id="container">
                            <div id="left"><label>Date:</label></div>
                            <div id="middle"><input type="datetime-local" id="start_date" name="start_date"> - </div>
                            <div id="right"><input type="datetime-local" id="end_date" name="end_date"></div>
                        </div>
                        <br>
                        <div class="pf-edit-btn">
                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                value="Search"></button>
                        </div>
                    </form>
                   
                    </div>
        
                <!-- ----------------------------- Create Event -----------------------------  -->
                    <br>
                <div class="event-create-section">
                    
                    <span style="font-size: 32px; color: #aa4344; font-weight:bold;">Create Event
                    </span>
                    <form action="/event_img" method="POST" enctype="multipart/form-data">
                        <div class="post-img-up-btn">
                            <input type="file" accept="image/png" name="fileToUpload" id="fileToUpload">
                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                            value="UPLOAD EVENT PNG" /> 
                        </div>
                    </form>
                    <form action="/create_event" method="POST">
                        <input type="text" name="eventname" id="eventname" placeholder="Event Name">
                        <br><br>
                        <textarea style="resize:none; "rows="2" cols="70" placeholder="Event Description"
                        type="event_description" name="event_description" id="event_description"></textarea>
                        <br><br>
                        <input list="countries" name="country" id="country" placeholder="Country">
                        <datalist id="countries">
                            <% for (var i=0; i < country_data.length; i++) { %>
                                <a></a>
                                <option value="<%= country_data[i]['name'] %>">
                            <% } %>
                        </datalist>
                        <input name="city" id="city" placeholder="City" />
                        <input name="zip" id="zip" placeholder="Zip" />
                        <input name="street" id="street" placeholder="Street" />
                        <br>
                        <br>
                            <input list="categories" name="category" id="category" placeholder="Category" onclick="getData()">
                            <datalist id="categories">
                                <% for (var i=0; i < category_data.length; i++) { %>
                                    <a></a>
                                    <option value="<%= category_data[i]['category_name'] %>">
                                <% } %>
                            </datalist>
                        <input name="sub_category" id="sub_category" placeholder="Sub-Category" />
                        <br><br>
                        <div id="container">
                            <div id="left"><label>Date:</label></div>
                            <div id="middle"><input type="datetime-local" id="start_date" name="start_date"> - </div>
                            <div id="right"><input type="datetime-local" id="end_date" name="end_date"></div>
                        </div>
                        <br>
                        <div id="container">
                            <div id="left"><label>Participants:</label></div>
                            <div id="middle"><input type="number" id="min_participants" name="min_participants" min="1" max="50"> - </div>
                            <div id="right">
                                <input type="number" id="max_participants" name="max_participants" min="1" max="100">
                                <label>(1 - 100 participants each event)</label>
                            </div>
                            
                        </div>
                        <div class="pf-edit-btn">
                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                value="Create"></button>
                        </div>
                    </form>
                </div>
            
            <section class="event-found-amount">
        </div>
        <div class="event-center-col">

        </div>
        <div class="event-right-col">
            <div class="event-found-amount">
                <ul>
                    <li><h2>Got You, We Found</h2><li>
                    <li><h1><%= event_data.length %></h1><li>
                    <li><h2>Events</h2></li>
                </ul>
            </div>
            <div class="event_list">
                <% for (var i=0; i < event_data.length; i++) { %>
                    <div class="event-display-box">
                        <h3>Eventname: <%= event_data[i]['event_name'] %></h3><br>
                        <p><b>WHAT:  </b><%= event_data[i]['description'] %></p>
                        <p><b>START:  </b><%= changeDateFormat(event_data[i]['begin_date']) %></p>
                        <p><b>END:  </b><%= changeDateFormat(event_data[i]['end_date']) %></p>
                        <p><b>PARTICIPANTS: </b> <%= event_data[i]['min_participants'] %>-<%= event_data[i]['max_participants'] %></p>
                        <p><b>CATEGORY: </b><%= event_data[i]['category_name'] %>/<%= event_data[i]['sub_category_name'] %></p>
                        <p><b>WHERE:</b> <%= event_data[i]['street_address'] %>, <%= event_data[i]['city_name'] %>, <%= event_data[i]['zip']%>, <%= event_data[i]['country_code'] %></p>
                        <form action="/join_event" method="POST">
                            <div class="pf-edit-btn">
                                <input type="hidden" id="event_id" name="event_id" value="<%= event_data[i]['id_event'] %>">
                                <input type="submit" style="background-color: hsl(351, 4%, 66%)" value="Join"></button>
                            </div>
                        </form>
                        <div class="event-img">
                       
                        <img src="<%= '/event_pictures/' + event_data[i]['event_picture_path']%>" onerror="this.style.display = 'none';"></div>
                    </div><br>
                <% } %>
                </div>
        </div>

    </div>




    <div id='wrapper'>
        <div>
            <p1> FillBoard 2022 </p1>
        </div>
    </div>
</body>

</html>