<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FILLBOARD MAIN</title>
        <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
        <link href="/public/stylesheets/hover_button.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="/public/stylesheets/images/favicon.png">
    </head>

    <body>
        <div class="main-header">
            <nav>
                <div class="nav-left">
                    <img src="/public/stylesheets/images/logo3.png" class="main-logo" />
                    <ul>
                        <li><img src="/public/stylesheets/images/inbox.png"></li>
                        <li><img src="/public/stylesheets/images/inbox.png"></li>

                    </ul>
                </div>
                <div class="nav-right">
                    <div class="search-box">
                        <img src="/public/stylesheets/images/search.png" class="search" />
                        <input type="text" placeholder="Search Event">
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <form action="/main_to_profile" method="POST">
                            <a>
                                <div class="pf-edit-btn">
                                    <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                        value="Show Profile"></button>
                                </div>
                            </a>
                        </form>
                        <form action="/logout" method="POST">
                            <a>
                                <div class="pf-signout-btn">
                                    <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                        value="Sign Out"></button>
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="m-topcontainer">
            <div class="main-container">
                <!-- left column-->
                <div class="main-left-col">
                    <div class="main-profile-box">
                        <div class="main-left-col-title">
                        </div>
                        <div class="welcome-msg">

                            <p>WELCOME <%= user_data[0]['username'] %> !</p><br>
                            <p> I knew you were coming.</p>
                            <p>Loggd In Account: <%= user_data[0]['email'] %>
                            </p><br>

                            <img src="/public/stylesheets/images/pf1.jpg" class="main-pf" /><br><br>

                            <h4>ABOUT ME: </h5>
                            <p><%= user_data[0]['biography'] %></p><br>
                            <h4>GENDER: </h5>
                            <p><%= user_data[0]['gender'] %></p><br>
                            <h4>BIRTHDAY: </h5>
                            <p><%= user_data[0]['birthday'] %></p><br>
                            <!-- <div class="pf-box-container">
                                <form action="/main_to_profile" method="POST">
                                    <div class="pf-edit-btn">
                                        <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                            value="Show Profile"></button>
                                    </div>
                                </form>
                                <form action="/logout" method="POST">
                                    <div class="pf-signout-btn">
                                        <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                            value="Sign Out"></button>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- center column-->
                <div class="main-center-col">

                    <div class="main-center-box">
                        <div class="write-post-container">
                            <div class="post-msg">
                                <p>Post your experience <%= user_data[0]['username'] %> ? </p><br>
                            </div>
                            <div class="post-input-container">
                                <form action="/post_text" method="POST">
                                    <div class="post-msg-heading">
                                        <label for="post_heading">Heading</label><br>
                                    </div>
                                    <textarea class="textarea" rows="3" cols="70" placeholder="TITLE"
                                        type="post_heading" name="post_heading" id="post_heading"></textarea><br>
                                    <div class="post-msg-text">
                                        <label for="post_text">Post Text</label><br>
                                    </div>
                                    <textarea class="textarea" rows="6" cols="70" placeholder="WHATS IN YOUR MIND?"
                                        type="post_text" name="post_text" id="post_text"></textarea><br>
                                    <div class="post-btn-container">
                                        <div class="post-btn">
                                            <input type="submit" style="background-color: hsl(351, 4%, 66%)"
                                                value="Post" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% for (var i=0; i < 3; i++) { %>
                        <div class="main-center-box">
                            <div class="write-post-container">
                                <div class="post-input-container">
                                    <div class="post-msg-heading">
                                        <label for="post_heading"><%= post_data[i]['heading'] %></label><br>
                                    </div>
                                    <textarea class="textarea" rows="6" cols="70" type="post_text" name="post_text" id="post_text">
                                        <%= post_data[i]['post_text'] %>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <!-- right column-->
                <div class="main-right-col">
                    <div class="dropdown">
                        <button class="dropbtn">Categories</button>
                        <div class="dropdown-content">
                            <% for (var i=0; i < category_data.length; i++) { %>
                                <a href="#"><%= category_data[i]['category_name'] %></a>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <div class="main-right-box">
                        <% for (var i=0; i < event_data.length; i++) { %>
                            <div class="main-center-box">
                                <div class="write-post-container">
                                    <div class="post-input-container">
                                        <div class="post-msg-heading">
                                            <label for="post_heading"><%= event_data[i]['event_name'] %></label><br>
                                            <label for="post_heading"><%= event_data[i]['description'] %></label><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div id='wrapper'>
            <div>
                <p1> FillBoard 2022</p1>
            </div>
        </div>
        <footer></footer>
    </body>
</html>